
Lesson7_2.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

Lesson7_2.xcodeproj/project.xcworkspace/xcuserdata/donatas.xcuserdatad/UserInterfaceState.xcuserstate

Lesson7_2.xcodeproj/xcuserdata/donatas.xcuserdatad/xcschemes/xcschememanagement.plist
